/*home*/

.insta{font-family: 'Permanent Marker', cursive;

  font-size:1.5rem;
color:white;
}
        


  .nav-item{color: black;}
  
  #home{background-color:#3d84b8;
    color:#AE431E;
      text-align: left;}

  

.title-image{width:100%;
  padding: 52px 179px;
text-align: center;}


.big-heading {
  font-family: 'Sacramento', cursive;
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 132px 47px 0px 20px;
  color:white;
  text-align: center;
}

.p1{padding: 44px 5px;
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
  line-height: 1.5;
  color:#99FEFF;
  text-align: center;
}

.p2{padding: 55px 20px 0px 22px;
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
  line-height: 1.5;
color:#99FEFF;
text-align: center;}

.testimonial-image{
  width: 100%;
  text-align: center;
}

/*Product*/

.product{font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  line-height: 1.5;
color:red;
text-align: center}

.gift1{width: 100%;}

#contact{text-align: center;
background-color:#EEEEEE;
padding: 50px 10px 10px 10px;}

.footer-link1{padding: 10px;
color: green;
}

.footer-link2{padding: 10px;
  color: red;}

  .footer-link3{padding: 10px;
    color: blue;}

.copyright{padding:0px;
font-size: 1rem;}




